@import url(https://fonts.googleapis.com/css2?family=Staatliches&display=swap);
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: black;
  text-decoration: none;
}

/* --- Header --- */

/* --- Barra de navegacion con logo --- */
.header-container {
  width: 100%;
  height: 80rem;

  background-color: #00a0fa;
}
.nav-logo {
  width: 100%;
  height: 60px;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
}
.nav-logo > img {
  width: 50px;
  height: 50px;
  margin: 10px 0;
}

/*  --- SVG header superior --- */
.svg-container {
  width: 100%;
  height: 150px;
}
.svg-container > img {
  width: 100%;
}

/* --- Contenedor del password y botones --- */

.div-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 100px 0;
}
.div-title > h1 {
  font-family: "Roboto", sans-serif;
  font-size: 4.5vw;
  color: #ffffff;
}
.software-container {
  background-color: transparent;
  width: 60%;
  height: 31rem;

  margin: auto;
  display: flex;
  flex-direction: column;
}
/*  --- Password TXT --- */
.password {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
.password > input {
  width: 100%;
  height: 60px;
  margin: 10px 0;
  border: solid 1px #0cb7f2;
}
.txt-password{
  text-align: center;
  font-size: 3.6vw;
  background-color: #ffffff;
  color: #54d0fa;
  user-select: none;
}

/*  --- Gereneador de contraseñas y configuracion --- */
.configuraciones {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 3px 3px 0 0;
}
.configuraciones-top {
  width: 100%;
  height: 80px;
  position: relative;
  display: flex;
  flex-direction: row;
  /* display: grid;
  grid-template-columns: repeat(3, 33.3%); */
}

/*  --- Tipo de pass, Generar pass, Copiar pass --- */
.tipo-seguridad {
  margin: auto;

  width: 125px;
  height: 40px;

  background-color: #0cb7f2;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.generador-pass {
  margin: auto;

  background-color: #ffffff;
  color: #ffffff;
  border-radius: 50%;
  border: none;
}
.generador-pass > img {
  width: 60px;
  height: 60px;
}
.copiar-pass {
  width: 125px;
  height: 40px;
  margin: auto !important;
  background-color: #0cb7f2;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

/*  --- Select del nivel de seguridad --- */
.div-container__nivel {
  width: 100%;
  margin-top: 30px;
  display: flex;
}
.nivel-seguridad {
  width: 95%;
  height: 50px;
  background-color: #0cb7f2;
  margin: 30px auto;
  color: #ffffff;
  font-weight: bold;
  font-size: 17px;
  border: none;
  border-radius: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*  ---  */
.configuraciones-bottom {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 0 0 3px 3px;
}
.seriado {
  width: 50%;
  height: 100%;
}
.seriado > ul {
  margin: 5rem 0 0 2rem;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0cb7f2;
}
.div-btn__descarga {
  width: 50%;
  position: relative;
}
.btn-descarga {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 20px 30px 0;

  width: 150px;
  height: 45px;

  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #0cb7f2;
  border: none;
  border-radius: 3px;
}

/*  --- SVG Header bottom --- */
.svg-container-bottom {
  width: 100%;
  height: 100%;
}
.svg-container-bottom > img {
  width: 100%;
}

/*  --- FIN DEL HEDER --- */

/*  --- SECTION DESCARGAR --- */

/*  --- Titulo, Descripcion, Promo y Boton --- */
.descargar-container {
  width: 100%;
}
.descargar {
  display: flex;
  flex-direction: row;
  margin-bottom: 10rem;
}
.title-descargar {
  width: 50%;
  display: flex;
  flex-direction: column;
 justify-content: center;
}
.title-descargar > h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #00a0fa;
  font-size: 3rem;
  margin: 0 0 0 20px;
}
.title-descargar > h1,
p,
button {
  margin: 20px 0 0 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title-descargar > p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #53d4ff;
}

.btn-descargar__windows {
  margin: 40px 0 0 20px;

  width: 180px;
  height: 35px;

  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #0cb7f2;
  border: none;
  border-radius: 3px;
}
.btn-descargar__windows > img {
  width: 18px;
}

.div-logo-grande {
  width: 50%;
}
.div-logo-grande > img {
  width: 100%;
  height: auto;
  padding: 30px;
}

/*  --- FIN DE SECTION DESCARGAR --- */

/* --- FOOTER --- */

/* SVG, Copyright y CONTACTOS */

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
.footer-svg{
  width:100%;
  height: 100%;
}
.footer-svg > svg{
  width: 100%;
  height: auto;
}
.icons-contact{
  width: 100%;
  background-color: #00a0fa;
}
.icons-contact > ul{
  display: flex;
  justify-content:center;
}
.icons-contact > ul > li > a{
  margin: 20px 20px;
  width: 30px;
}
.icons > a > img{
  width: 60px;
}
.copyright{
  width: 100%;
  background-color: #00a0fa;
  display: flex;
  justify-content:center;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 50px 0 10px 0;
}

